<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <section th:replace="sub-templates/plantilla :: head"></section>
</head>
<body>
    <header th:replace="sub-templates/plantilla :: header"></header>
    <section th:replace="sub-templates/botonAgregar :: btnAgregar"></section>
    <section th:replace="sub-templates/agregarEstudiante :: agregarEstudiante"></section>
    <section th:replace="sub-templates/listadoEstudiantes :: listadoEstudiantes"></section>

    <footer th:replace="sub-templates/plantilla :: footer"></footer>
</body>
</html>